<suite name="Suite-Listeners" parallel="none">

    <listeners>

        <listener class-name="googlesetup.TestGoogleSearchLogo"></listener>

    </listeners>

    <test name="Batch-Listeners">

        <classes>

            <class name="googlesetup.TestGoogleSearchLogo" />
            <class name="googlesetup.TestGoogleHomePageOpening" />

        </classes>

    </test>

</suite>