<suite name="Suite-Listeners" parallel="none">

    <listeners>

        <listener class-name="googlesetup.TestGoogleSearchLogo"/>

    </listeners>

    <test name="Batch-Listeners">

        <classes>

            <class name="googlesetup.TestGoogleSearchTextField" />
            <class name="googlesetup.TestGoogleHomePageOpening" />
            <class name="googlesetup.TestGoogleSearchLogo" />
            <class name="googlesetup.TestGoogleSearchButton" />

        </classes>

    </test>

</suite>